{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block header %}
    <h1 class="text-center" id="ms-title">Best Movies of 2020</h1>
{% endblock %}

{% block main %}

<!-- message if user entered invalid year -->
{% if message %}
    <h2>{{ message }}</h2>
{% endif %}

    <p>Enter a year and Movie Search will return the top movies of that year, sorted by IMDB ratings.</p>

    <form action="/result" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="year" placeholder="Year" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Search</button>
    </form>
<br />

    <table class="table table-hover">
      <thead>
        <tr>
            <th scope="col">#</th>
          <th scope="col" class="align-left">Title</th>
          <th scope="col">Year</th>
          <th scope="col">IMDB Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
            <tr>
                <td>{{ loop.index }}</td>  <!-- Loop index/position -->
              <td class="align-left">
                  <a href="https://www.imdb.com/title/{{ item[0] }}" target="_blank">{{ item[1] }}</a>
              </td>  <!-- Title(item1) with link(item0/tconst) -->
              <td>{{ item[2] }}</td>  <!-- Year -->
              <td>{{ item[3] }}</td>  <!-- IMDB Rating -->
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <p id="criteria">Search criteria: Movie Search only displays movies with an IMDB user rating greater than 7 and
        with over 10,000 votes.</p>
{% endblock %}